<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

   
  <!--<system.serviceModel>

    <bindings>
      <ws2007HttpBinding>
        <binding name="SSLBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate">
            </transport>
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </ws2007HttpBinding>

    </bindings>

    <services>

      <service name="CloudSSLHost.Service1" behaviorConfiguration="SSLBehavior">
        <endpoint binding="ws2007HttpBinding" contract="CloudSSLHost.IService1" bindingConfiguration="SSLBinding"/>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SSLBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />

  </system.serviceModel>-->

  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
