<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

   <appSettings></appSettings>

  <ServiceHelpers>
    <external>
      <endpoint contract="NoErrorMasking.IService1" address="http://localhost:99199/Service1.svc"/>
    </external>
  </ServiceHelpers>


</configuration>