<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <ServiceHelpers>
    <external>
      <endpoint contract="WorkerRole1.IMyService" address="http://127.0.0.1:10000/MyService"/>      
    </external>
  </ServiceHelpers>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
