<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>    
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <ServiceHelpers
  enableInProc="true"  
  catchNonWcfFaults="true" 
  maskErrors="true">
  </ServiceHelpers>

</configuration>