<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <ServiceHelpers>
    <external>
      <endpoint contract="CloudSSLHost.IService1" address="https://localhost/CloudSSLHost/Service1.svc"/>
    </external>
  </ServiceHelpers>

  <!--<system.serviceModel>

    <bindings>
      <ws2007HttpBinding>
        <binding name="SSLBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" >              
            </transport>
            <message clientCredentialType="Certificate" />            
          </security>
        </binding>
      </ws2007HttpBinding>
      
    </bindings>


    <client>
      <endpoint name="CloudSSLHost.Service1" behaviorConfiguration="SSLBehavior" binding="ws2007HttpBinding" bindingConfiguration="SSLBinding"
                contract="CloudSSLHost.IService1" address="https://localhost/CloudSSLHost/Service1.svc" />             
    </client>    
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="SSLBehavior">
          <clientCredentials>            
            <clientCertificate x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" findValue="EamClientCert_"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
