<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <ServiceHelpers>
    <external>
      <endpoint contract="IISTestHost.IService1" address="https://localhost:44384/Service1.svc" windowsauth="true"/>
      <endpoint contract="IISTestHost.IService1A" address="http://localhost:28952/Service1A.svc"/>
      <endpoint contract="IISTestHost.IService1zzz" address="http://beehivewcftest.cloudapp.net/Service1.svc"/>
      <endpoint contract="IISTestHost.IService1Azzz" address="http://beehivewcftest.cloudapp.net/Service1A.svc"/>
   </external>
  </ServiceHelpers>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
