<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>    
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <ServiceHelpers
  enableInProc="true"
  logger="DontPanic.Helpers.EnterpriseLogger, DontPanic.ServiceHelpers"
  performanceTrace="true"
  catchNonWcfFaults="true">
    <inproc>
      <endpoint
        contract="InProcOnlyTests.ISimple"
        implementation="InProcOnlyTests.Simple, InProcOnlyTests" />
    </inproc>
  </ServiceHelpers>

</configuration>